<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', 'Wordpress' );

/** MySQL database username */
define( 'DB_USER', 'root' );

/** MySQL database password */
define( 'DB_PASSWORD', 'testing' );

/** MySQL hostname */
define( 'DB_HOST', 'localhost' );

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/** Filesystem access **/
define('FS_METHOD', 'direct');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '#.je8q-65~tBOmE0 Z*k+`RA+o?{E~CHK_[M-IDO/4E(u4GDq2m0*.n[@Uz!p|t.');
define('SECURE_AUTH_KEY',  'qrZQ?y)^A%XxKh5KDrQJ *Q=Xb|6Kojy[dE@!0)c(=5<+zpU;sB8!O?Y[:;@hVuS');
define('LOGGED_IN_KEY',    '.=|d#-fpYupuggO!M-jG6m+j#to4OvEZ{2wy`,|Sk3g#J|_fG^nm*EGf5X}v:vA;');
define('NONCE_KEY',        '@C?NJr[4^-}ANaR>@JpI;e<!^km^j Fz .p?d#*ul4|N-nlj[C@.gW(^5kr33j2o');
define('AUTH_SALT',        'aGb-@*x6U-_6P_p-JWql0L|sgjb//;{s)7x0SJl0YhSCd5kB,jCO-dK{<o_-!=}h');
define('SECURE_AUTH_SALT', 'SQ@{Zn-+b IzOx[0]oES^n`7hYq<7N^3)z(<%@dJQaW~kM7#zV[,q4>sdV`|Y S}');
define('LOGGED_IN_SALT',   '_Z|+<//vLYdo8RMOX+56+#>$`}-2mL63-+)Zw[C{,toiWN?F7Ryu?v6:9!ZtHr9U');
define('NONCE_SALT',       'FS{XY[N3@GJuaSNf+**3Vw^%m-RY4+U0|XqgKkc#d_aA*@?,w9ZDsF0X1+`0HDzZ');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define( 'WP_DEBUG', false );

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', dirname( __FILE__ ) . '/' );
}

/** Sets up WordPress vars and included files. */
require_once( ABSPATH . 'wp-settings.php' );
